/* app/globals.css */

html,
body {
  height: 100%;
  background: #e9e9e9; /* ✅ iOS 위/아래 당김 여백도 이 색으로 */
}

body {
  margin: 0;
  color: #111;
  overscroll-behavior-y: none; /* ✅ 크롬/안드 쪽 */
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}